<div class = "container my-5 bg-dark" id="body">

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Material Master</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Inventory Inbound</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Add Supplier</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Invoice</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Accounting</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Report Wastage</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Stock Check</button>
    </a>

    <a href="#"> 
        <button type="button" class="btn btn-primary btn-outline-warning btn-lg">Large button</button>
    </a>

</div>