<style>
    .navbar-nav li:not(:last-child) {
        border-right: 1px solid #ddd;
    }

</style>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link"  href="#">Material Master</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inventory Inbound</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add aupplier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Invoice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accounting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report Wastage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stock Check</a>
      </li>
    </ul>
  </div>
</nav>
